<p
[ngStyle]="{
  color: color,
  fontSize: size +'px',
  fontFamily: font

}"
>mini-word works!</p>
<div class="row">
 <div class="row-md-4">
   Color :  <input type="text" class="form-control" [(ngModel)]="color">
 </div>
 <div class="row-md-4">
   Taille : <input type="number" class="form-control"  [(ngModel)]="size">

 </div>
 <div class="row-md-4">
    Police :
    <br>
     <select  class="form control"  [(ngModel)]="font">
         <option value="garamond">Garamond</option>
         <option value="Verdana">Verdana</option>
         <option value="Times New Roman">Times New Roman</option>

     </select>
 </div>
 
</div>